.score-0 {
  margin-top: 0;
}

.score-0-5 {
  margin-top: -14px;
}

.score-1 {
  margin-top: -28px;
}

.score-1-5 {
  margin-top: -42px;
}

.score-2 {
  margin-top: -56px;
}

.score-2-5 {
  margin-top: -70px;
}

.score-3 {
  margin-top: -84px;
}

.score-3-5 {
  margin-top: -98px;
}

.score-4 {
  margin-top: -112px;
}

.score-4-5 {
  margin-top: -126px;
}

.score-5 {
  margin-top: -152px;
}
